APPSHELL_ROOT=ContainerModule/Container
APPSHELL_REGISTRY=
APPSHELL_API_KEY=XXX-API-KEY-FOR-REGISTRY

BUILD_TARGET=development
ENV_TARGET=
CONTAINER_COMMAND=npm run start
CONTAINER_SCALE=1

BACKGROUND_COLOR="#031230"
REMOTE_ENTRY_PATH=remoteEntry.js

SAMPLE_MFE_CONTAINER_PORT=3000
SAMPLE_MFE_CONTAINER_URL=http://localhost:3000

SAMPLE_MFE_PING_PORT=3001
SAMPLE_MFE_PING_URL=http://localhost:3001

SAMPLE_MFE_PONG_PORT=3002
SAMPLE_MFE_PONG_URL=http://localhost:3002
